.teams-new{
    background-image: url("/pc1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  	background-position: center center;
  	background-attachment: fixed;
  	padding-bottom: 200px;
}